<form action="{{ path('odiseo_sylius_mailchimp_plugin_newsletter') }}" method="POST" class="ui form">
    <div class="inline field">
        <input type="text" name="newsletter[email]" placeholder="{{ 'odiseo_sylius_mailchimp_plugin.ui.your_email_address'|trans }}"/>
        <button title="{{ 'odiseo_sylius_mailchimp_plugin.ui.subscribe' }}" type="submit" class="ui button">
            {{ 'odiseo_sylius_mailchimp_plugin.ui.subscribe'|trans }}
        </button>
    </div>
</form>
